
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: sticky;
    text-decoration: none;
  }
body{
    background: #8CC461;
    position: sticky;
}

/* top result box */

.mainbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.result
{
    display: flex;
    padding-left: 30px;
    margin-top: 30px;
    width: 720px;
    height: 128px;
    flex-shrink: 0;
    border-radius: 13px;
    border: 2px solid #FFF;
    background: rgba(28, 48, 120, 0.00);
}


.name-list
{
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3px;
}
.display-result
{
    display: flex;
    margin-left: 220px;

}
.result-box
{
    margin: 10px;
    width: 129px;
    height: 105px;
    flex-shrink: 0;
    border-radius: 9px;
    background: #FFF;

}
.result-box h3{
    text-align: center;
    color: #656565;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.7px;

}
.points
{
    display: flex;
    justify-content: end;
    width: 79px;
    height: 63px;
    flex-shrink: 0;
    color: #252525;
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* Result Section ends here */




.hands {
  background-image: url("./assets/triangle.png");
  background-position: center;
  background-repeat: no-repeat;
  visibility: visible;
  opacity: 6;
  position: relative;
  width: 476px;
  height: 430px;
  margin-top: 50px;
  display: flex;
  z-index: 0;
  flex-wrap: wrap;
  justify-content: center;
}



.hands .rock {
  margin-right: 20px;
  position: relative;
}

.hands .scissors {
  margin-left: 28px;
}

.hands .hand {
  cursor: pointer;
  transition: all 0.25s;
  position: relative;

}

.hands .hand:hover {
  transform: translate3d(0px, -8px, 0px);
}

.rock{
  display: flex;
  align-items: center;
  position: relative;
}
.scissors{
  display: flex;
  align-items: center;
  position: relative;
}
.paper{
  display: flex;
  align-items: center;
  position: relative;
}
.fist-icon,
.scissors-icon,
.paper-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}


  .rules-btn
{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 119px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: rgba(217, 217, 217, 0.00);
    color: #FFF;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.1px;
    cursor: pointer;

}
.rules-btn:focus {
    border: 2px solid #fff;
  }
  .rules-btn:hover {
    transform: translate3d(0px, -2px, 0px);
  }
  .rules-popup {
    display: none;
    position: absolute;
    width: 260px;
    height: 300px;
    bottom: 80px;
    right: 20px;
    background-color: #004429;
    padding: 10px;
    border-radius: 10px;
    text-align: right;
    border: 4px solid #fff;
  }

  h2 {
    text-align: center;
    color: #fff;
    font-family: Roboto;
    font-size: 29px;
    font-weight: 500;
    line-height: normal;
  }

  .rules-list {
    display: flex;
    margin-left: 20px;
    text-align: left;
    margin-top: 12px;
    color: #fff;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
  }

  .rules-list ul {
    align-items: center;
    list-style: square ;
      }

  .rules-list li {
    margin-bottom: 10px;
    padding-left: 5px;
    list-style: square ;
  }

  .close-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    text-align: center;
    font-size: 30px;
    color: white;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }


  .contest {
  display: none;
  margin-top: 50px;
  width: 900px;
}


.contest > div {
  flex: 1;
}

.contest h1 {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.9px;

}

.contest .newGame {
  background-color: white;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.15s;
  color: #6B6B6B;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.5px;
}

.newGame:hover {
  background: rgb(218, 218, 218);
  transform: translate3d(0px, -2px, 0px);
}

.contest .handImageContainer {
  display: flex;
  justify-content: center;
  margin-top: 22px;

}
.handImageContainer #userPickImage {
  width: 150px;
  height: 150px;
  display: block;
  justify-content: center;
}

.handImageContainer #computerPickImage {
  width: 150px;
  height: 150px;
  display: block;
  justify-content: center;
}
.handImageContainer {
  position: relative;
  text-align: center;
}

#userPickIcon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#computerPickIcon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  }
}


#computerPickImage.winner, #userPickImage.winner {

  border-radius: 370px;
  background: rgba(27, 94, 21, 0.9);
  transition: all 0.3s;
  transform: scale(1.1);


  box-shadow:
    0px 16px 42px 0px rgba(13, 86, 18, 0.512),
    0px 1px 152px 0px rgba(73, 165, 79, 0.512),
    0px 1px 192px 0px rgba(55, 187, 64, 0.512),
    0px 1px 232px 0px rgba(0, 0, 0, 0.01);
}




.referee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.referee h1 {
  font-size: 45px;
  color: white;
}
.decision h2{
  justify-content: center;
  margin-bottom: 10px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2.5px;
}
.computerhand {
  display: flex;
  flex-direction: column;
}

.nextbutton{
  position: absolute;
    bottom: 20px;
    right: 150px;
    width: 119px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: rgba(217, 217, 217, 0.00);
    color: #FFF;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.1px;
    cursor: pointer;
    text-align: center;
    padding: 5px;
}

.nextbutton:hover {
  transform: translate3d(0px, -2px, 0px);
}